[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pylint = "*"

[packages]
sqlalchemy = "*"
gunicorn = "*"
uuid = "*"
psycopg2-binary = "*"
flask = "*"
flask-cors = "*"
transliterate = "*"
cryptography = "*"

[requires]
python_version = "3.7"
